.listing {
  background: #FFFFFF;
}

.table_wrapper {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  background: #FFFFFF;
}

.table {
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  border-radius: 23px;
  font-size: 0.93rem;

  .table__action___button {
    display: flex;
    flex-wrap: wrap;
  }

  .table__notItem {
    text-align: center;
  }

  .table__notItem:last-child {
    border-radius: 4px 4px 0 0 !important;
  }

  .table__thead {
    width: 100%;

    tr {
      border: 1px solid rgb(194, 194, 194);

      th {
        padding: 9px 15px;
        text-align: left;
        background: #fff;
        color: #272727;
        border-bottom: 1px solid #e7e7e7ab;
        font-weight: 600;
        
        div.table__thead_icons {
          display: flex;
          align-items: center;

          .table__thead_icon_arrow {
            width: 17px;
            height: 17px;
            visibility: hidden;
          }
        }

        div.table__thead_icons:hover {
          span.table__thead_text {
            cursor: pointer;
          }

          .table__thead_icon_arrow {
            visibility: initial !important;
            cursor: pointer;
          }
        }
      }

      th:first-child {
        border-radius: 23px 0 0 0;
      }

      th:last-child {
        border-radius: 0 23px 0 0;
      }
    }
  }

  .table__tbody {
    width: 100%;

    tr {
      td {
        padding: 5px 15px;

        button {
          border: none;
          cursor: pointer;
          border-radius: 5px;
          padding: 1px 4.5px 2px 5px;
          text-align: center;
          justify-content: center;
          display: flex;
          transition: all .3s;
        }

        button:hover {
          transform: scale(1.05);
        }

        .table__action__trash {
          background: #b20704;
          margin-left: 6px;

          svg {
            color: #fff;
            width: 18px;
          }
        }

        .table__action__edit {
          background: #303132;

          svg {
            color: #fff;
            width: 18px;
          }
        }

        p {
          text-align: center;
        }
      }
    }

    // tr:nth-child(even) {
    //   background: #f8f8f8;
    // }
    tr.table__row__pair {
      background: #f8f8f8;
    }

    tr:hover {
      background: #f1f1f1b6;
      cursor: pointer;
    }
  }
}

.table__row__expanded {
  background: #fff !important;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.060) !important;
  border: 1px solid rgba(50, 50, 50, 0.1);
  position: absolute !important;
  width: -webkit-fill-available !important;
  margin-left: -11px !important;
  margin-right: -11px !important;
  border-radius: 13px;

  .table__row__expanded_form {
    display: block;
  }

  &:hover {
    background: #fff !important;
  }
}


.table__row_expanded_invisible td {
  padding-top: 38px !important;
}

.table__filters {
  display: flex;
  justify-content: end;
  margin-bottom: 12px;

  .switch {
    // margin-right: 2px;
  }
}