.content_main {
  grid-area: content !important;
  height: calc(var(--vh-offset) - 75px) !important;
  padding: 17px 15px;
  z-index: 3;
  overflow-y: overlay;
  overflow-x: hidden;
}

.content__login__center {
  justify-content: center;
  display: flex;
  overflow-y: hidden;
  height: var(--vh-offset) !important;
}

.content_main::-webkit-scrollbar {
  border-radius: 14px;
  width: 7px;
  height: 7px;
}

.content_main::-webkit-scrollbar-track-piece {
  border-radius: 10px;
  // background-color: #bdbcbc;
}

.content_main::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #cfcfcf;
  border-radius: 10px;
}
