.navbar__item {
  min-height: calc(var(--vh-offset) - 75px);

  .navbar__item_content {
    max-height: calc(var(--vh-offset) - 154px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;

    a {
      svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: #000000de;
      }
    }
  }
}

.navbar__item.navbar__item__open {
  .navbar__item_content {
    a:hover,
    div.nav__item_dropdown_list:hover {
      background: #f7f6fbd1;
    }

    div.nav__item_dropdown_text:hover {
      background: #f7f6fbd1;
    }
  }
}

.navbar__item_profile_fixed {
  position: fixed; 
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__item_profile_close {
  // background: linear-gradient(180deg, #1e68cca1 40%, #1e68cca1);
  background: #208de4;
  color: #fff !important;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  height: 64px !important;
  width: 60px;
  transition: width 0.5s;
}

.navbar__item_profile_open {
  // background: linear-gradient(180deg, #1e68cca1 40%, #1e68cca1);
  color: #fff !important;
  // background: #208de4;
  background: linear-gradient(90deg, #1a76bf 20%, #208de4 100%);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  height: 64px !important;
  width: 256px;
  transition: width 0.5s;

  .navbar__item_profile_text {
    font-size: 1rem;
    margin-left: 16px;
    transition: 1s;
  }
}

.navbar__item__mobile {
  .navbar__item_profile_text {
    margin-left: 10px;
  }
}

svg.chevron-up {
  transform: rotate(180deg);
}

.navbar__item__profile_mobile {
  border-top: 1px solid #c9c9c9;
}

.navbar__item_height {
  width: 256px;
  transition: 0.5s;
  background: initial;
  color: black !important;
}

.navbar__item a,
.navbar__item__mobile a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar__item a {
  padding: 5px 20px;
}

.navbar__item__mobile a {
  padding: 10px 0px;
}

.nav__item_dropdown {
  cursor: pointer;
}

.nav__item_dropdown_chevron {
  margin-left: 9px;
}

.navbar__item__mobile {
  div.nav__item_dropdown {
    div.nav__item_dropdown_text {
      margin: 0px 0px 7px 0px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -2px;
      display: flex;
      align-items: center;

      .nav__item_dropdown_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 93%;
      }
    }

    div.nav__item_dropdown_list {
      padding: 0px 0px 5px 26px;
      margin-bottom: -8px;

      a {
        padding: 0px;

        span {
          margin: 4px 14px !important;
        }
      }
    } 
  }
}

.navbar__item {
  span.onscreen {
    margin-right: 12px;
    margin-left: 15px;
    margin-top: 1px;
  }

  div.nav__item_dropdown {
    align-items: center;

    div.nav__item_dropdown_text {
      padding: 5px 20px;
      display: flex;
      align-items: center;
      margin-bottom: -2px;

      svg {
        width: 1.2rem;
        height: 1.2rem;
      }

      .nav__item_dropdown_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      span.onscreen {
        margin-right: 12px;
        margin-left: 17px;
      }
    }

    div.nav__item_dropdown_list {
      background: #f7f6fb2e;
      padding: 0 0 0 51px;
      width: 256px;

      a {
        padding: 0px;

        span {
          margin: 4px 20px !important;
        }
      }
    }
    
    div.nav__item_dropdown_list span {
      margin: 11px 20px;
    }
  }
}

.navbar__item {
  a,
  div.nav__item_dropdown {
    color: black;

    span {
      font-size: 1rem;
      margin-left: 10px;
    }
  }
}

.navbar__item__mobile {
  a,
  div.nav__item_dropdown {
    span {
      color: #333;
      font-size: 1rem;
      margin-left: 10px;
    }
  }
}

.navbar__logout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -45px;
  z-index: 86;
  cursor: pointer;
  padding: 8px;
  border-radius: 25px;

  .tooltip_element { 
    height: 22px; 

    &:hover .tooltip {
      opacity: 1;
      margin-right: 10px;
      margin-top: 3px;
    }
  }

  svg {
    width: 23px;
    height: 23px;
    fill: #fff;
    padding-left: 2px;
  }
}

.navbar__logout:hover {
  background: #1a75bf5b;
  transition: background 0.5;
}

.navbar__item_profile_fixed_mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #c9c9c9;

  .navbar__item__profile_mobile {
    border-top: none;
  }

  .navbar__logout_mobile {
    display: flex;
    align-items: center;

    svg {
      margin-left: 6px;
    }
  }
}
