@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-1px);
  }

  16% {
    transform: translateY(-2px);
  }

  25% {
    transform: translateY(-3px);
  }

  35% {
    transform: translateY(-4px);
  }

  50% {
    transform: translateY(-5px);
  }

  65% {
    transform: translateY(-4px);
  }

  75% {
    transform: translateY(-3px);
  }

  85% {
    transform: translateY(-2px);
  }

  90% {
    transform: translateY(-1px);
  }
}

.content__image {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 20px;
  position: absolute;

  img {
    position: absolute;
  }

  .content__image_display {
    display: none;

    width: 190px;
    height: 190px;
    align-items: center;
    justify-content: center;

    input {
      width: 190px;
      height: 190px;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      color: #fff;
      position: absolute;
      cursor: pointer;

      &::-webkit-file-upload-button {
        visibility: hidden;
      }

      &::-webkit-inner-spin-button {
        visibility: hidden;
      }
    }

    svg {
      width: 100px;
      height: 100px;
      position: relative;
      cursor: pointer;
      // transition: transform 0.3s ease;
      margin-bottom: -5px;
    }

    
    &:hover {
      svg {
        // transform: translateY(-5px);
        animation: moveUpDown 0.6s infinite alternate;
        filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, .1));
      }
    }
  }

  &:hover .content__image_display {
    display: flex;
  }

  img {
    border-radius: 15px;
    box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.45);
    margin-bottom: 5px;
    width: 190px;
    height: 190px;
  }
}

@media (max-width: 1000px) {
  .content__image {
    img {
      display: initial;
      margin-bottom: 0px;
    }
  }
}