.menu__pages {
  a {
    padding: 10px 20px;
    display: block;
    background: #f4f7fc;
    margin-bottom: 10px;
    border-radius: 4px;
    color: rgb(7, 0, 0);
  }

  a.menu__item__active {
    pointer-events: none;
    background: linear-gradient(90deg, #292929 20%, #303132 100%);
    color: white;
    border: none;
    cursor: not-allowed;
  }
}
