.table__pagination {
  padding: 10px 15px;
  align-items: center;
  font-size: 0.9rem;
}

.table__pagination,
.pagination {
  display: flex;
  justify-content: end;
}

.table__pagination {
  .total {
    font-size: 13.5px;
    margin: 0px 54px 0px 48px;
  }

  .table__pagination_limit {
    display: flex;
    align-items: center;

    span {
      margin-right: 11px;
      font-size: 13.5px;
    }

    select {
      font-size: 13.2px;
      width: 41px;
      text-align: center;
      height: 18px;
      margin-top: 1.5px;
      border-radius: 8px;
    }
  }
}

.page__button {
  padding: 0px 10px 0px 10px;
}

.page__link {
  padding: 0px 12px 0px 12px;
}

.page__button,
.page__link {
  border: 1px solid #484848eb;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 10px;
  text-align: center;
  transition: all .2s;
}

.page__link__active {
  background: #292929;
  color: #fff;
  border: 1px solid #292929;
}

.pagination .page__button:hover,
.pagination .page__link:hover {
  background: #292929;
  color: #fff;
}

@media (max-width: 477px) {
  .table__pagination,
  .pagination {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 10px;
  }
}

ul.pagination {
  li {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

ul.pagination__new {
  width: 118px;

  li.pagination__new__pad {
    margin-right: 20px;
  }
}

.pagination__icons {
  width: 17px !important;
  height: 17px !important;
  color: #515151;
}
