.content_select_lazy {
  overflow-y: scroll;
  overflow-x: hidden !important;
  max-height: 107px !important;
  background: #e7e7e7;

  .content_select_lazy_item {
    cursor: pointer;
    font-size: 14px;
  }

  .select__lazy__svg_close {
    width: 14px !important;
    margin-top: 10px !important;
    margin-right: 6px !important;
  }

  &::-webkit-scrollbar {
    border-radius: 14px;
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track-piece {
    border-radius: 10px;
    margin: 9px;
  }

  &::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #cfcfcf ;
    border-radius: 10px;
  }
}

.select__lazy .content_select_lazy::-webkit-scrollbar {
  border-radius: 14px !important;
  width: 7px !important;
  height: 7px !important;
}

.select__lazy .content_select_lazy::-webkit-scrollbar-track-piece {
  border-radius: 10px !important;
  margin: 9px !important;
}

.select__lazy .content_select_lazy::-webkit-scrollbar-thumb:vertical {
  height: 5px !important;
  background-color: #cfcfcf !important;
  border-radius: 10px !important;
}

.input-wrapper__select {
  z-index: 2;
}

.input-wrapper__select input.input-text__select_pointer, 
.input-wrapper__select label.label__select_pointer {
  cursor: pointer;
}

.select__lazy .input-wrapper__select {
	margin-bottom: 0px !important;
}

.select__lazy_shadow {
  box-shadow: 0px 1px 5px 0px rgba(54, 54, 54, 0.2) !important;
  border-radius: 22px;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.select__lazy .content_select_lazy {
	margin-top: -14px !important;
  margin-bottom: 13px !important;
  padding: 8px 14px !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  background: #fff !important;
}

.select__lazy .content_select_lazy div {
	padding: 2px 0px !important;
}

.select__lazy {
  margin-top: 2px !important;
}

.select__lazy .input-wrapper__select {
  margin-top: 0px !important;
  border-radius: 20px;
}
