@import url('../Assets/fonts/Nunito.css');
@import url('../Assets/fonts/Spectral.css');

:root {
  --padding-global: 15px 20px;
  --padding-content: 15px 20px;
  --vh-offset: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  background-image: url(../Assets/img/fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
}

a, button {
  text-decoration: none;
  color: #333;
}

button,
input,
select {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 0.9rem;
  color: #333;
  outline: none;
}

.App {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "sidenav nav"
    "sidenav content"
    "sidenav footer"
  ;
}

@media (max-width: 800px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "sidenav"
      "content"
      "footer"
    ;
  }
}

aside.sidenav,
header.nav {
  margin: 10px 10px 0px 10px;
  border-radius: 30px;
}

.logo {
  grid-area: logo;
}

.offscreen {
  color: transparent !important;
  transition: 0.5s;
}

.onscreen {
  transition: 0.5s;
}

.chevron-up.onscreen {
  transition: 1s !important;
  color: inherit;
}
.chevron-down.onscreen {
  transition: 1s !important;
  color: inherit;
}

.chevron-up.offscreen {
  transition: 1s !important;
  color: transparent !important;
}
.chevron-down.offscreen {
  transition: 1s !important;
  color: transparent !important;
}


.display-none {
  display: none;
}

.animeTop {
  opacity: 0;
  transform: translateY(-20px);
  animation: animePage .3s forwards;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animePage .3s forwards;
}

@keyframes animePage {
  to {
    opacity: 1;
    transform: initial;
  }
}

.col__3 {
  width: 23%;
}

.col__4 {
  width: 31.5%;
}

.col__6 {
  width: 49%;
}

.col__8 {
  width: 69%;
}

.col__9 {
  width: 79%;
}

.col__12 {
  width: 100%;
}

@media (max-width: 800px) {
  .col__3,
  .col__4,
  .col__6,
  .col__8,
  .col__9,
  .col__12 {
    width: 100%;
  }
}

// .table__action__card {
//   display: flex;
//   justify-content: end;
// }

// .table__col1 {
//   border-radius: 17px 0 0 !important;
// }

// .table__col2 {
//   max-width: 20%;
// }

// td.table__col2 {
//   border-radius: 0 0 0 4px !important;
// }

// th.table__col2 {
//   // border-radius: 4px 0 0 0;
// }

// .table__col3 {
//   width: 25%;
// }

// .table__col4 {
//   width: 16%;
// }

// @media (min-width: 1700px) {
//   .table__action {
//     width: 7%;
//   }
// }

@media (max-width: 1443px) {
  // .table__col4 {
  //   display: none;
  // }

  // .table__action {
  //   width: 16%;
  // }
}

// @media (max-width: 1114px) {
//   .table__action {
//     width: 17%;
//   }
// }

@media (max-width: 1080px) {
  // .table__col3 {
  //   display: none;
  // }

  // .table__action {
  //   width: 20%;
  // }
}

// @media (max-width: 599px) {
//   .table__action {
//     width: 25%;
//   }
// }

// @media (max-width: 393px) {
//   .table__action {
//     width: 30%;
//   }
// }

// @media (max-width: 341px) {
//   .table__action {
//     width: 39%;
//   }
// }

.empty__table {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .title__empty__table {
    width: 100%;
    text-align: center;
    transition: all 0.3s;
    color: #65d;
    font-size: 30px;
    margin-bottom: 1%;
    transition: 0.5s;

  }

  a:hover,
  .title__empty__table:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }

  a {
    padding: 5px 20px !important;
    background: #65d;
    color: white;
    border-radius: 5px;
    display: inline-flex;
    cursor: pointer;
    transition: 0.5s;
  }
}

@media screen and (max-width: 800px) {
  .empty__table {
    .title__empty__table {
      font-size: 20px !important;
    }
  }
}

.row__reverse {
  flex-direction: row-reverse !important;

  button {
    width: 100% !important;
  }
}

.details__modal__overlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: rgba(#0f172a, 0.3);
  position: fixed;
  opacity: 0;
  z-index: 4;
  width: -webkit-fill-available;
  height: 100vh;
  top: -52px;
  margin-left: -20px;
  margin-right: -7px;
  border-radius: 10px;

  details[open] & {
    pointer-events: all;
    opacity: 0.5;
    transition: 0.5s;
  }
}

details {
  summary {
    &:focus {
      outline: none;
    }
    &:-webkit-details-marker {
      display: none;
    }

    &:first-of-type {
      list-style-type: none;
    }
  }
}

.row_reverse {
  button {
    width: 100% !important;
  }
}

.bottom10 {
  margin-bottom: 10px;
}

.alignCenterTop15 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.form.animeLeft {
  padding: 20px 18px 15px 18px;
  border-radius: 22px;
  box-shadow: 0px 1px 5px 0px rgba(54, 54, 54, 0.1);
  border: 1px solid rgba(50, 50, 50, 0.1);
  background: #fff;
}

.content__page {
  display: grid;
  grid-template-columns: minmax(140px, 200px) 1fr;
  grid-gap: 20px;
}

@media (max-width: 800px) {
  .content__page {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}

.btn__close {
  background: #fff !important;
  border: 1px solid #b20704 !important;
  color: #b20704 !important;
  min-width: 6rem !important;
  padding: 3px 13px !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}
