.button {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  padding: .7rem;
  background: #208de4;
  color: white;
  min-width: 8rem;
  box-sizing: border-box;
  transition: .1s;
  border-radius: 22px;
  padding: 7px 13px;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 14px;
    margin-right: 6px;
  }
}

.button.button__green {
  background: #28a745 !important;
}

.button:disabled {
  opacity: 0.6;
  cursor: wait;
}

.button:disabled:hover {
  transform: scale(1);
}

.button:hover {
  transition: .1s;
  background: #297ae4;
  transform: scale(1.02);
}

.button.button__green:hover {
  background: #28a745 !important;
}
