.table__col_active_close svg {
  fill: red !important;
  width: 1.4em !important;
  height: 1.4em !important;
}

.table__col_active_active svg {
  fill: green !important;
  width: 1.2em !important;
  height: 1.2em !important;
}