.table__col_active_close {
  margin-bottom: -4px;

  svg {
    fill: red !important;
    height: 1.3em !important;
  }
}

.table__col_active_active {
  margin-bottom: -4px;

  svg {
    fill: green !important;
  }
}
