.content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: content !important;
  min-height: calc(var(--vh-offset) - 75px) !important;
  padding: var(--padding-global);

  div.card__header,
  div.card__main,
  div.card {
    border-radius: 30px;
  }
}

// .content.content_page_login {
//   width: 100% !important;

//   .content_page_login_info {
//     width: 100% !important;
//   }
// }

.card {
  max-width: 440px;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(54, 54, 54, 0.35);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(54, 54, 54, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(54, 54, 54, 0.35);
}

.card__header {
  border-top: 4px solid #208de4;
  padding: 2.2% 6%;
  background: #fff;
}

.card__header__title,
.card__header__title2 {
  color: rgba(0, 0, 0, 0.767);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.card__header__title:after,
.card__header__title2:after {
  content: "";
  display: block;
  border: 0.1px solid #c2c2c2;
}

.card__header__title:after {
  width: 22%;
}

.card__header__title2:after {
  width: 35%;
}

@media screen and (max-width: 518px) {
  .card__header__title:after {
    width: 24%;
  }

  .card__header__title2:after {
    width: 39%;
  }

  .card__header__title,
  .card__header__title2 {
    font-size: 25px;
  }
}

.card__main {
  padding: 0% 6% 4% 6%;
  background: #fff;
  height: 85%;

  .form {
    margin-top: 14px;
    margin-bottom: 14px;

    .row.row__reverse {
      margin-top: 10px;
    }
  }
}

._card__main__error {
  color: rgb(161, 8, 8);
  text-align: center;
  margin-bottom: 0.5rem;
}
